#root {
	width: 50vw;
	margin: auto;
	padding: 2rem;
	text-align: center;
	font-size: 1.5vw;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.store-list {
	background-color: antiquewhite;
}

h1 {
	color: #aa4d53;
}

.store-list {
	margin: 10hw;
}

#send__detail {
	background-color: #feeeed;
	padding: 10px;
	text-align: left;
}

button {
	margin: 1vw;
}

label {
	display: inline-block;
	text-align: left;
	margin-right: 1vw;
	margin-left: 5vw;
	margin-top: 3vh;
	height: auto;
}

.select {
	margin-top: 3vh;
	height: auto;
	min-width: fit-content;
	font-size: 1.5vw;
}

input {
	margin-top: 3vh;
	width: 30vw;
	margin: 1vw;
	height: auto;
	font-size: 1.5vw;
}

#comment {
	height: 6em;
}

#input_label {
	text-align: center;
}

.ReactModal__Body--open {
	display: inline-block;
	font-size: 1.5vw;
	background-color: #feeeed;
	margin: auto;
}

.ReactModal__Content {
	width: 50vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#modal {
	margin: auto;
	width: 50vw;
}

.button {
	text-align: center;
}
